{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"plugins": [],
	"overrides": [
		{
			"files": ["*.md"],
			"options": {
				"useTabs": false
			}
		}
	]
}
